/* utility class */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.button{
    height: 50px;
    min-width: 100px;
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    line-height: 50px;
}

.button-a {
  border: 2px #fe775a solid;
  color: #fe775a;
}

.button-b {
  background: #fe775a;
  color: #fff;
}

.button-c{
  background: #fff;
  color: #2D3E50;
}

body{
  font-family: 'Roboto', sans-serif;
}

.margin-left{
  margin-left: 5px;
}

li{
  list-style-type: none;
}

.hr::after {
  content: '';
  display: inherit;
  border-bottom: 1px solid black;
  margin: 20px auto;
}

.br{
  border-right: 1px solid white;
}

p{
  line-height: 25px;
  color: #2D3E50;

}
/* /utility class */

/* insieme-navbar-1-2 */

.container-nav{
  height: 70px;
  border-bottom: 1px solid #32495B;
  line-height: 70px;
}

.insieme-navbar-1-2{
 width: 1200px;
}

.box1-navbar-1{
 padding-right: 20px;
}

/* /insieme-navbar-1-2 */
/* container header */

.container-header{
  height: 700px;
  padding-top: 15px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #fff4ef;
  position: relative;
}

.sfondo:before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: #afebe4;
  height: 84px;
  width: 100vw;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

.insieme-navbar3{
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  height: 50px;
}

.menu-navbar3 > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-navbar3 > ul > li {
  float: left;
  padding-left: 15px;
}

.box-slogan{
  max-width: 400px;
  position: relative;
  top: 200px;
  text-align: left;
  left: 500px;
}

h1{
 font-size: 40px;
}

/* main */

.container-main{
  width:1200px;
}

h2{
  font-size: 25px;
  padding-bottom: 20px;
}

.box2-main-left{
  width: 300px ;
  display: inline-block;
}

.pc{
  width: 150px;
}

.box1-main{
  padding-bottom: 100px
}

.box2-main-right{
  width: 800px ;
  display: inline-block;
  text-align: left;
}

.linea{
  display: inline-block;
  height: 10px;
  width: 400px;
  border-bottom: 2px solid grey;
  line-height: 12px;
  margin-bottom: 4px;
}

.text-div{
  font-size: 25px;
  font-weight: bold;
}

.box-column-1{
  width: 300px;
  margin-right: 120px;
}

.list{
  width: 220px;
}

.check{
  height: 80px;
  margin-bottom: 20px;
}
.element-row3{
  margin: 0 auto;
}

.box-column-2{
  width: 300px;
  margin-right: 120px;
}

.row1{
  margin-top: 300px;
  height: 520px;
}

.box-column-3{
  width: 300px;
}

/* box gradient */

.gradient{
  background-image: linear-gradient(to right, #29a7a1 , #00d4ff, #438386, #469e84);
  text-align: center;
  height: 600px;
}

.container-gradient{
  width: 1200px;
  margin: 0 auto;
}

.white{
  color: #fff;
  padding-top: 25px;
  font-size: 40px;
}

.p-gradient{
  color: white;
}

.row1-gradient{
  margin-top: 50px;
  height:150px;
  text-align: center;
  display: inline-block;
}

.box{
  width: 250px;
  height: 150px;
  color: white;
  border-bottom: 1px solid white;
  padding: 30px;
}


.number{
  font-size: 30px;
  font-weight: bold;
}

.row2-gradient{
  height:150px;
  text-align: center;
  display: inline-block;
}

.row2-gradient-1{
  border-bottom: none;
}

/* under gradient */

.container-under-gradient{
  margin-top: 30px;
  height: 200px;
  width: 1200px;
}

.info-box{
  width: 200px;
  margin-top: 20px;
}

.info-box > h3{
  font-size: 30px;
  padding-bottom: 30px;
}

.container-under-gradient2{
  margin-top: 80px;
  height: 600px;
  width: 1200px;
  text-align: left;
}

.box-near-sciura{
 width: 400px;
}

.box-near-sciura > h3{
  font-size: 30px;
}

.box-near-sciura > p{
  margin-bottom: 30px;
  margin-top: 30px;
}

.container-under-gradient2 > img{
  height: 500px;
}

footer{
  height: 700px;
  background-color: #2D3E50;
}

.container-footer{
  width: 1000px;
  color: #fff;
  display: inline-block;
}

.container-footer > .fl > ul{
  margin-top: 20px;
  margin-right: 60px;
}

.container-footer > .fl > ul > li{
padding-top: 20px;
text-align: left
}

.insiemeico{
  height: 10px;
  width: 220px;
}

.insiemeico > i{
  padding-right: 20px;
}

.menu-navbar4{
  height: 50px;
  width: 1200px;
  color: #fff;
  border-bottom: 1px solid white;
  margin-top: 200px;
}

.menu-navbar4 > ul {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

.menu-navbar4 > ul > li {
  float: left;
  padding-left: 15px;
}
  .container-chiusura{
    width: 1200px;
    margin-top: 30px;
  }

  .chiusura-1{
    width: 200px;
    color: white;
  }

  .chiusura-2{
    color: white;
  }

  .chiusura-2 > ul > li{
    padding-right: 10px;
  }
