/* utility class */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.button{
    height: 50px;
    min-width: 100px;
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    line-height: 50px;
}

.button-a {
  border: 2px #fe775a solid;
  color: #fe775a;
}

.button-b {
  background: #fe775a;
  color: #fff;
}

body{
  font-family: 'Roboto', sans-serif;
}

.margin-left{
  margin-left: 5px;
}

li{
  list-style-type: none;
}

.hr::after {
  content: '';
  display: inherit;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 20px auto;
}

.br{
  border-right: 1px solid white;
}

p{
  line-height: 25px;
}
/* /utility class */

/* insieme-navbar-1-2 */

.container-nav{
  height: 70px;
  width:100%;
  border-bottom: 1px solid #32495B;
  line-height: 70px;
}

.insieme-navbar-1-2{
 width: 75%;
}

.box1-navbar-1{
 padding-right: 20px;
}

/* /insieme-navbar-1-2 */
/* container header */

.container-header{
  height: 700px;
  width: 75%;
  padding-top: 15px;
  background-image: url(../img/jumbotron.png);
}

.menu-navbar3 > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-navbar3 > ul > li {
  float: left;
  padding-left: 15px;
}

.box-slogan{
  max-width: 400px;
  position: relative;
  top: 200px;
  text-align: left;
}

h1{
 font-size: 40px;
}

/* main */

.container-main{
  width: 50%;
}

h2{
  font-size: 25px;
  padding-bottom: 20px;
}

.box2-main-left{
  width: 30% ;
  display: inline-block;
}

.pc{
  width: 150px;
}

.box1-main{
  padding-bottom: 100px
}

.box2-main-right{
  width: 50% ;
  display: inline-block;
  text-align: left;
}
.box-column-1{
  width: 30%;
  margin-right: 2%;
}

.list{
  width: 220px;
}

.element-row3{
  margin-top: 60px;
}

.box-column-2{
  width: 30%;
  margin-right: 2%;
}

.row1{
  margin-top: 300px;
  height: 520px;
}

.box-column-3{
  width: 30%;
}

/* box gradient */

.gradient{
  width: 100%;
  background-image: linear-gradient(to right, #29a7a1 , #00d4ff, #438386, #469e84);
  text-align: center;
  height: 600px;
}

.container-gradient{
  width: 75%;
  margin: 0 auto;
}

.white{
  color: #fff;
  padding-top: 25px;
  font-size: 40px;
}

.p-gradient{
  color: white;
}

.row1-gradient{
  margin-top: 50px;
  height:150px;
  text-align: center;
  display: inline-block;
}

.box{
  width: 250px;
  height: 150px;
  color: white;
  border-bottom: 1px solid white;
  padding: 30px;
}


.number{
  font-size: 30px;
  font-weight: bold;
}

.row2-gradient{
  height:150px;
  text-align: center;
  display: inline-block;
}

.row2-gradient-1{
  border-bottom: none;
}

/* under gradient */

.container-under-gradient{
  margin-top: 30px;
  height: 200px;
  width: 75%;
}

.info-box{
  width: 200px;
  margin-top: 20px;
}

.info-box > h3{
  font-size: 30px;
  padding-bottom: 30px;
}

.container-under-gradient2{
  margin-top: 80px;
  height: 400px;
  width: 75%;
  text-align: left;
}

.box-near-sciura{
 width: 400px;
}

.box-near-sciura > h3{
  font-size: 30px;
}

.box-near-sciura > p{
  margin-bottom: 30px;
  margin-top: 30px;
}

.container-under-gradient2 > img{
  height: 500px;
}
